<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>grit:hub</title>
    <link rel="stylesheet" href="/static/error.css" /> 
  </head>

  <body>
    <div class="error-container">
      <div class="code">{{.Code}}</div>
      <h1 class="msg">{{.Message}}</h1>
      <p class="description">Oops! Something went wrong.</p>
      <a href="/" class="home-button">Return to Home</a>
    </div>
  </body>
</html> 