{{define "header"}}

<header>
  <link rel="stylesheet" href="/static/toastMsg.css" />
  <div class="logo"> <a href="/">Forum</a></div>
  <nav>
    {{if .SessionCookie}}
      <a href="/profile-page">Profile</a>
      <a id="logout-btn">Logout</a>
    {{else}}
      <a href="/login">Login</a>
    {{end}}
    <!-- Dark mode toggle button -->
    <button class="dark-mode-toggle" onclick="toggleDarkMode()">
      <i class="fas fa-moon"></i>
      <!-- Dark mode icon -->
    </button>
  </nav>
</header>

<script src="/static/script/header.js" defer></script>
{{end}}
