{{define "header"}}

<header>
  <div class="logo"> <a href="/">Forum</a></div>
  <nav>
    <a href="#">Articles</a>
    <a href="#">Social</a>
    {{if .SessionCookie}}
      <a href="/profile-page">Profile</a>
      <a href="/logout">Log Out</a>
    {{else}}
      <a href="/login">Login</a>
    {{end}}
    <!-- Dark mode toggle button -->
    <button class="dark-mode-toggle" onclick="toggleDarkMode()">
      <i class="fas fa-moon"></i>
      <!-- Dark mode icon -->
    </button>
  </nav>
</header>
{{end}}
