<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum Topics</title>
    <link rel="stylesheet" href="/static/homepage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    {{template "header" .}}
    <div class="container">
      <!-- Sidebar -->
      <div class="sidebar move">
        <h2>Categories</h2>
        <ul>
          <li><a href="/" class="{{if not .FilterBy}}active{{end}}">All</a></li>
          <li><a href="?filterBy=createdBy" class="{{if eq .FilterBy "createdBy"}}active{{end}}">My posts</a></li>
          <li><a href="?filterBy=likedBy" class="{{if eq .FilterBy "likedBy"}}active{{end}}">Liked posts</a></li>
          {{range $index, $cat := .Categories}}
          <li><a href="?filterBy=catergory&id={{$index}}" class="{{if and (eq $.FilterBy "catergory") (eq $index $.Id)}}active{{end}}">{{$cat}}</a></li>
          {{end}}
        </ul>
      </div>

      <!-- Main Content -->
      <div class="content">
        <!-- General Discussion -->
        <section id="general">
          <h2>General Discussion</h2>
          
          <!-- Post Block -->
           {{range .Posts}}
          <div class="post-block">
            <h5>[{{.UserName}}] {{.CreatedAt}}</h5>
            <h3 class="post-title">
              <a href="/post?id={{.ID}}"> {{.Title}}</a>
            </h3>
            <pre class="post-body">{{.Content}}</pre>

            <div class="post-actions">
              <button class="icon-button">
                <i class="fas fa-heart"></i> <span>{{.LikeCount}}</span>
              </button>
              <button class="icon-button">
                <i class="fas fa-comment"></i> <span>{{.CommentCount}}</span>
              </button>
              <p class="icon-button">
                <span>{{.CatNames}}</span>
              </p>
            </div>
          </div>
          {{else}}
          <div class="post-block">
            <h3 class="post-title">
              No post found
            </h3>
          </div>
          {{end}}
        </section>
      </div>

      <!-- Right Sidebar -->
      <div class="right-sidebar">
        <div class="start-thread">
          <h3>Post a Thread</h3>
          <p>Share your thoughts with the community!</p>
          <a href="start-thread" class="start-thread-btn">Start a Thread</a>
        </div>
      
        <!-- Filter Section -->
        <div class="filter-section">
          <h4>Filter Threads</h4>
          <label for="category">Category:</label>
          <select id="category">
            <option value="all">All</option>
            <option value="tech">Technology</option>
            <option value="life">Lifestyle</option>
            <option value="science">Science</option>
          </select>
          
          <label for="keyword">Keyword:</label>
          <input type="text" id="keyword" placeholder="Search...">
          
          <button type="button">Apply Filters</button>
        </div>
      </div>
      
    
    <script>
      function toggleDarkMode() {
        document.body.classList.toggle("dark-mode");
      }
    </script>
  </body>
</html>
