<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>grit:hub</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/home.css" />
    <script src="/static/script/feedback.js" defer></script>
  </head>
  <body>
    {{template "header" .}}
    <div class="container">
      <!-- Categories Sidebar -->
      <div class="categories">
        <h3>Categories</h3>
        <ul>
          <li><a href="/" class="{{if not .FilterBy}}active{{end}}">All</a></li>
          {{if .SessionCookie}}
          <li><a href="?filterBy=createdBy" class="{{if eq .FilterBy "createdBy"}}active{{end}}">My posts</a></li>
          <li><a href="?filterBy=likedBy" class="{{if eq .FilterBy "likedBy"}}active{{end}}">Liked posts</a></li>
          {{end}}
          {{range $index, $cat := .Categories}}
          <li><a href="?filterBy=category&id={{$index}}" class="{{if and (eq $.FilterBy "category") (eq $index $.Id)}}active{{end}}">{{$cat}}</a></li>
          {{end}}
        </ul>
      </div>

      <!-- Posts Feed -->
      <div class="feed">
        <section id="general">
          <h2>Hello, {{.UserName}}.</h2>
          
          <!-- Post Block -->
          {{range .Posts}}
          <div class="post-card">
            <div class="post-header">
              <div class="post-avatar">
                <i class="fas fa-user"></i>
              </div>
              <div class="post-meta">
                <a href="/profile?id={{.UserID}}" class="post-author">{{.UserName}}</a>
                <div class="post-time">{{.CreatedAt}}</div>
              </div>
            </div>
            <div class="post-content">
              <h3>
                <a href="/post?id={{.ID}}">{{.Title}}</a>
              </h3>
              <p>{{.Content}}</p>
            </div>
            <div class="post-actions" data-id={{.ID}} data-state="{{.Rating}}" data-for="post">
              <button class="action-button like-button {{if eq .Rating 1}}active-like{{end}}" data-id={{.ID}} data-for="post">
                <i class="fas fa-thumbs-up"></i> <span>{{.LikeCount}}</span>
              </button>
              <button class="action-button dislike-button {{if eq .Rating -1}}active-dislike{{end}}" data-id={{.ID}} data-for="post">
                <i class="fas fa-thumbs-down"></i> <span>{{.DislikeCount}}</span>
              </button>
              <form action="/post?id={{.ID}}" method="GET">
                <input type="hidden" name="id" value="{{.ID}}" />
                <button type="submit" class="action-button">
                  <i class="fas fa-comment"></i> <span>{{.CommentCount}}</span>
                </button>
              </form>
              <p class="action-button">
                <span>{{.CatNames}}</span>
              </p>
            </div>
          </div>
          {{else}}
          <div class="post-card">
            <h3 class="post-title">
              No post found
            </h3>
          </div>
          {{end}}
        </section>
      </div>
    </div>
    <div id="newPostModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <form id="post-thread-form" action="/new-post" method="post">
          <div class="input-group">
            <input
              type="text"
              name="threadTitle"
              placeholder="Post Title"
              required
            />
          </div>
          <div class="input-group">
            <textarea
              name="threadContent"
              placeholder="Write your thread content here..."
              rows="10"
              required
            ></textarea>
          </div>
          <div class="input-group">
            <button class="new-post" id="create-new-post" type="submit">Create Post</button>
          </div>
          <div class="input-group">
            <h4>Select categories:</h4>
            <div class="checkbox-group">
              {{range $index, $cat := .Categories}}
                <div class="checkbox-item">
                  <input type="checkbox" id="category{{$index}}" name="category" value="{{$index}}">
                  <label for="category{{$index}}">{{$cat}}</label>
                </div>
              {{end}}
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>