<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/static/toastMsg.css" />
    <link rel="stylesheet" type="text/css" href="/assets/static/login.css" />
    <script src="/static/script/login.js" defer></script>
    <script src="/static/script/header.js" defer></script>
  </head>
  <body>
    <div class="container">
      <!-- Left side with image background -->
      <div class="image-section">
        <div class="shape-1"></div>
        <div class="shape-2"></div>
        <div class="image-content">
          <h1>Welcome Back!</h1>
          <p>
            Log in to your account to continue your journey with us. We're
            excited to show you what's new!
          </p>
          <br />
          <h3><a href="/home">Back to the home</a></h3>
        </div>
      </div>

      <!-- Right side with login form -->
      <div class="form-section">
        <div class="form-container">
          <h2>Login</h2>
          <form action="/login" method="post" id="form">
            <div class="input-group">
              <input type="text" name="username" required />
              <label>Username</label>
            </div>
            <div class="input-group">
              <input type="password" name="password" required />
              <label>Password</label>
            </div>

            <button type="submit">Login</button>
            <div class="signUp-link">
              <p>Don't have an account? <a href="/signup">Sign Up</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
