<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="/static/homepage.css" />
  </head>
  {{template "header"}}
  <body>
    <nav class="navbar">
      <a href="/" class="logo">PageName</a>
    </nav>

    <div class="container">
      <div class="err-code">View Post page placeholder</div>
      <h1 class="err-msg">PlaceErrorTemplateHere</h1>
      <a href="/" class="home-page">
        Return PlaceLinkToHomeHere</a>
    </div>
  </body>
</html>
