<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>grit:hub</title>
    <link rel="stylesheet" href="/static/viewPost.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="/static/script/feedback.js" defer></script>
    <script src="/static/script/submitComment.js" defer></script>
  </head>

  <body>
    {{template "header" .}}

    <div class="content">
      <div class="post-block">
        <h5>[{{.Post.UserName}}] {{.Post.CreatedAt}}</h5>
        <h3 class="post-title">
        {{.Post.Title}}
        </h3>
        <pre class="post-body">{{.Post.Content}}</pre>

          <div class="post-actions" data-id={{.Post.ID}} data-state="{{.Post.Rating}}" data-for="post">

            <button class="action-button like-button {{if eq .Post.Rating 1}}active-like{{end}}" data-id={{.Post.ID}} data-for="post">
              <i class="fas fa-thumbs-up"></i> <span>{{.Post.LikeCount}}</span>
            </button>
            <button class="action-button dislike-button {{if eq .Post.Rating -1}}active-dislike{{end}}" data-id={{.Post.ID}} data-for="post">
              <i class="fas fa-thumbs-down"></i> <span>{{.Post.DislikeCount}}</span>
            </button>

            <button class="icon-button">
            <i class="fas fa-comment"></i> <span>{{.Post.CommentCount}}</span>
            </button>

            <p class="icon-button">
            <span>{{.Post.CatNames}}</span>
            </p>
          </div>
      </div>

      <div id="comment-form">
        <textarea id="comment-input" placeholder="Write your comment here..." rows="3"></textarea>
        <button id="submit-comment">Post Comment</button>
      </div>

      {{range .Comments}}
      <div class="post-block">
        <h5>[{{.UserName}}] {{.CreatedAt}}</h5>
        <pre class="post-body">{{.Content}}</pre>
        
        <div class="post-actions" data-id={{.ID}} data-state="{{.Rating}}" data-for="comment">
          <button class="action-button like-button {{if eq .Rating 1}}active-like{{end}}" data-id={{.ID}} data-for="comment">
            <i class="fas fa-thumbs-up"></i> <span>{{.LikeCount}}</span>
          </button>
          <button class="action-button dislike-button {{if eq .Rating -1}}active-dislike{{end}}" data-id={{.ID}} data-for="comment">
            <i class="fas fa-thumbs-down"></i> <span>{{.DislikeCount}}</span>
          </button>
        </div>
      </div>
      {{end}}

    <div id="newPostModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <form id="post-thread-form" action="/new-post" method="post">
          <div class="input-group">
            <input
              type="text"
              name="threadTitle"
              placeholder="Post Title"
              required
            />
          </div>
          <div class="input-group">
            <textarea
              name="threadContent"
              placeholder="Write your thread content here..."
              rows="10"
              required
            ></textarea>
          </div>
          <div class="input-group">
            <button class="new-post" id="create-new-post" type="submit">Create Post</button>
          </div>
          <div class="input-group">
            <h4>Select categories:</h4>
            <div class="checkbox-group">
              {{range $index, $cat := .Categories}}
                <div class="checkbox-item">
                  <input type="checkbox" id="category{{$index}}" name="category" value="{{$index}}">
                  <label for="category{{$index}}">{{$cat}}</label>
                </div>
              {{end}}
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
