{{define "header"}}

<header>
  <nav class="navbar">
    <div class="nav-content">
      <div class="logo">
        <img src="/static/images/favicon-32x32.png" alt="Logo"/>
        <a class="logo-text" href="/">grit:hub</a>
      </div>
      <div class="nav-actions">
        <button class="new-post" id="new-post">New Post</button>
          {{if .SessionCookie}}
          <a href="/profile-page" class="pill-button">Profile</a>
          <a href="/about" class="pill-button">About</a>
          <a id="logout-btn" href="javascript:void(0);" class="pill-button">Log out</a>
          {{else}}
          <a href="/login" class="pill-button">Log in</a>
          <a href="/signup" class="pill-button">Sign up</a>
          <a href="/about" class="pill-button">About</a>
          {{end}}
      </div>
    </div>
  </nav>
</header>

{{end}}
